.App {
  text-align: center;
}

.item-input {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 12px;
  min-width: 450px;
  min-height: 50px;
  margin: 20px;
}

.btn-blue {
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  min-width: 110px;
  min-height: 50px;
  border: none;
  color: white;
  cursor: pointer;
}
